@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.6s;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #111111;
}

/* ANIMS */
.fadeInScroll {
  animation: fade-in-scroll linear;
  animation-timeline: view();
}

@keyframes fade-in-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ttbAnim {
  animation: top-to-bottom-arch-scroll 1.2s linear;
  opacity: 1;
}
@keyframes top-to-bottom-arch-scroll {
  0% {
    transform: translateY(-60%);
    opacity: 0;
  }
  60% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.ltrAnim {
  animation: left-to-right 1.2s linear;
}
@keyframes left-to-right {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  85% {
    transform: translateX(10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.rtlAnim {
  animation: right-to-left 1.2s linear;
  opacity: 1;
}
@keyframes right-to-left {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  85% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeIn {
  animation: fade-in 1.2s linear;
  opacity: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.ltr {
  animation: ltr 2s infinite;
}

@keyframes ltr {
  0% {
    opacity: 0;
    transform: translateY(-330%) translateX(-210%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-330%) translateX(330%);
  }
}

.rtl {
  animation: rtl 2s infinite;
}

@keyframes rtl {
  0% {
    opacity: 0;
    transform: translateY(0%) translateX(210%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0%) translateX(-330%);
  }
}

.ttb {
  animation: ttb 2s infinite;
}

@keyframes ttb {
  0% {
    opacity: 0;
    transform: translateY(100%) translateX(-3%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(360%) translateX(-3%);
  }
}

/* RALEWAY */
.lining-figures {
  font-feature-settings: "lnum";
}
@font-face {
  font-family: "Rale-Regular"; /*Can be any text*/
  src: local("RalewayRegular"),
    url("/_font/Raleway/static/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Rale-Medium"; /*Can be any text*/
  src: local("RalewayMedium"),
    url("/_font/Raleway/static/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Rale-Bold"; /*Can be any text*/
  src: local("RalewayBold"),
    url("/_font/Raleway/static/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rale-SemiBold"; /*Can be any text*/
  src: local("RalewaySemiBold"),
    url("/_font/Raleway/static/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Rale-Light"; /*Can be any text*/
  src: local("RalewayLight"),
    url("/_font/Raleway/static/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Rale-ExtraLight"; /*Can be any text*/
  src: local("RalewayExtraLight"),
    url("/_font/Raleway/static/Raleway-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Rale-Thin"; /*Can be any text*/
  src: local("RalewayThin"),
    url("/_font/Raleway/static/Raleway-Thin.ttf") format("truetype");
}
